/* FONT FACES */
@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/HelveticaNeue.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("../fonts/HelveticaNeueLight.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url("../fonts/HelveticaNeueMedium.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url("../fonts/HelveticaNeueBold.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Heavy';
    src: url("../fonts/HelveticaNeueHv.ttf")format("truetype");
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: "Helvetica Neue Light", sans-serif;
    color: #1d1e1f;
    -webkit-font-smoothing: antialiased;
}

.bg-dark{
    background-color: #1d1e1f!important;
    color: #ffffff;
}

h1{
    font-family: "Helvetica Neue", sans-serif;
    font-size: 60px;
}

h2, h3, h4 {
    font-family: "Helvetica Neue Heavy", sans-serif;
}

.bolder{
    font-family: "Helvetica Neue Heavy", sans-serif;
}

a{
    color: dodgerblue;
}

a:hover{
    color: steelblue;
    text-decoration: none;
}

.nav-item {
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    margin-top: 1px;
}

.navbar-brand{
    font-size: 20px;
    color: #1d1e1f!important;
    font-family: "Helvetica Neue Heavy", sans-serif;
}

.navbar-brand-thin{
    font-size: 20px;
    font-family: "Helvetica Neue Light", sans-serif;
    text-transform: lowercase;
}

.navbar-brand-light{
    font-size: 20px;
    color: #ffffff!important;
    font-family: "Helvetica Neue Heavy", sans-serif;
}

.navbar-brand-light-thin{
    font-size: 20px;
    font-family: "Helvetica Neue Light", sans-serif;
    text-transform: lowercase;
}
.bg-inverse{
    background-color: #1d1e1f!important;
}

.jumbotron{
    color: #ffffff;
    background-color: #1d1e1f;
    border-radius: 0!important;
}

form{
    border-radius: 0;
    border: none;
}

.form-card{
    border-radius: 0;
    border: none;
    margin: 100px auto;
    width: 26rem;
}

.form-control{
    border: solid 1px #2a2c2e;
    border-radius: 0;
    background-color: #111212;
}

.form-control:focus{
    border: solid 1px dodgerblue;
    border-radius: 0;
    background-color: #111212;
}

.custom-file-input + label {
    border: solid 1px #2a2c2e;
    border-radius: 0;
    background-color: #111212;
    display: inline-block;
}

.custom-file-input:focus + label,
.custom-file-input + label:hover {
    border: solid 1px dodgerblue;
    border-radius: 0;
    background-color: #111212;
}

.custom-file-label::after {
    color: #cccccc;
    border-radius: 0;
    background-color: #2a2c2e;
}


.backend-table{
    color: #ffffff;
    font-size: 14px;
}

.backend-table td, .backend-table th {
    padding: .5rem;
    border-top: dashed 1px #2a2c2e;
}

.backend-table thead th {
    border-bottom: none!important;
    background-color: #111212;
}

.login-button{
    /*
    background-color: #1d1e1f;
    color: #ffffff;
     */
    width: 100%;
    color:  #aaa;
    background-color: #ffffff;
    font-family: "Helvetica Neue Light", sans-serif;
    border: 1px solid  #aaa;
    border-radius: 0px;
    padding: 7px;
}
.login-button:hover{
    color:  #1d1e1f;
    border: 1px solid  #1d1e1f;
}

.form-group-centered{
    text-align: center;
}

.form-input{
    font-family: "Helvetica Neue Light", sans-serif;
    margin-bottom: 15px;
    border-radius: 0;
    color: #2a2c2e;
    border:solid 1px #2a2c2e;
}
.form-input::placeholder{
    color: #aaa;
}

/*CUSTOM CHECKBOX */
.form-checkbox-label{
    font-size: 14px;
    margin-bottom: 10px;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #1d1e1f;
    font-family: "Helvetica Neue Light", sans-serif;
}

a.cold{
    text-decoration: none;
    color: #cccccc;
}

a.hot{
    text-decoration: none;
    color: #ff0000;
}

a.cold:hover{
    text-decoration: none;
    color: #1d1e1f;
}

a.hot:hover{
    text-decoration: none;
    color: #d58512;
}

#MainMenu{
    min-width: 120px;
}

.backend-list-element{
    font-size: 14px;
    margin-bottom: 0;
}

.backend-list-element-header-center{
    text-align: center;
    color: #fff;
    background-color: #2a2c2e;
    padding: 5px 10px;
    border-right: solid 1px #1d1e1f;
    margin-bottom: 1px;
}

.backend-list-element-header{
    text-align: left;
    color: #fff;
    background-color: #2a2c2e;
    padding: 5px 10px;
    border-right: solid 1px #1d1e1f;
    margin-bottom: 1px;
}

.backend-list-element-data-center{
    text-align: center;
    color: #fff;
    background-color: #111212;
    padding: 5px 10px;
    border-right: solid 1px #1d1e1f;
    margin-bottom: 1px;
}

.backend-list-element-data{
    text-align: left;
    color: #fff;
    background-color: #111212;
    padding: 5px 10px;
    border-right: solid 1px #1d1e1f;
    margin-bottom: 1px;
}

.backend-list-element-control{
    padding: 0;
    border-right: solid 1px #1d1e1f;
}

.log-element-data{
    text-align: center;
    padding: 5px 0;
    margin-bottom: 1px;
}

.data-title{
    text-align: left;
    padding-left: 10px;
}

.news_block{
    border: none;
    color: #1d1e1f;
}

.news_block:hover{
    color: #1d1e1f;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    text-decoration: none;
}

.news_article_info{
    border-right: 1px solid gray;
    text-align: right;
    padding-right: 20px;
}

.news_details{
    display: block;
    margin-top: -10px;
}

.badge-detail{
    font-size: 12px;
    color: #ffffff;
    padding: 5px!important;
    /* background-color: #028e8a; */ /* GREENISH */
    background-color: #1d1e1f; /* DARK */
}

.copyright{
    float: right;
}

.acc_link{
    background-color: #ffffff;
    color:#1d1e1f;
    cursor: pointer;
    padding: 5px 10px;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
}

.acc_link:hover {
    background-color: #efefef;
    border-radius: 0px;
}
.acc_rating{
    float: right;
}
footer{
    display: block;
    width: 100%;
    height: 100px;
}


.inset {
    width: 35px;
    height: 35px;
    margin-top: -1px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #dedede;
    z-index: 999;
}

.inset img{
    border-radius: inherit;
    width: inherit;
    height: inherit;
    display: inline-block;
    position: relative;
    z-index: 998;
}

.glyphicon{
    color: #1d1e1f;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.backend-nav{

}

.backend_nav_main{
    width: 100%;
    background-color: #1d1e1f;
    color: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 5px;
}

.backend_nav_main:hover{
    background-color: #4e555b;
}

.sub{
    margin-top: -4px;
    margin-bottom: 10px;
    width: 100%;
    background-color: steelblue;
    color: #1d1e1f;
    border-radius: 0;
    border: none;
}

.sub:hover{
    background-color: dodgerblue;
    color: #1d1e1f;
}

.sub-tool{
    margin-top: -4px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #111212;
    color: #2a2c2e;
    border-radius: 0;
    border:solid 1px #2a2c2e;
}

.sub-tool:hover{
    color: #cccccc;
    background-color: #2a2c2e;
}

.sub-tool-inline{
    margin: 0;
    width: 100%;
    color: #1d1e1f;
    border-radius: 0;
    border: none;
}

.sub-tool-inline:hover{
    color: #1d1e1f;
}

.excerpt{
    resize: none;
    min-height: 100px;
    height: 100px;
}

.textcounter{
    margin-top: -40px;
    margin-right: 8px;
}

