/* FONT FACES */
@font-face {
    font-family: 'Helvetica Neue';
    src: url("../fonts/HelveticaNeue.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url("../fonts/HelveticaNeueLight.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url("../fonts/HelveticaNeueMedium.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url("../fonts/HelveticaNeueBold.ttf")format("truetype");
}

@font-face {
    font-family: 'Helvetica Neue Heavy';
    src: url("../fonts/HelveticaNeueHv.ttf")format("truetype");
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
    font-family: "Helvetica Neue Light";
}

h1{
    font-family: "Helvetica Neue";
    font-size: 60px;
}

h2, h3, h4 {
    font-family: "Helvetica Neue Heavy";
}

.nav-item {
    font-family: "Helvetica Neue Medium";
    font-size: 14px;
    margin-top: 3px;
}

.navbar-brand{
    color: #1d1e1f!important;
    font-family: "Helvetica Neue Heavy";
}

.navbar-brand-thin{
    font-family: "Helvetica Neue Light";
    text-transform: lowercase;
}

.bg-inverse{
    background-color: #0D0D0D!important;
}

.jumbotron{
    color: #ffffff;
    background-color: #1d1e1f;
    border-radius: 0px!important;
}

.breadcrumb{
    font-family: monospace, monospace;
    text-transform: lowercase;
}

ol.breadcrumb{
    background: none!important;
    padding: 0px!important;
    margin: 0px!important;
    color: #ffffff;
    font-size: 14px;
}

li.breadcrumb-item > a{
    color: #ffffff;
}

li.breadcrumb-item > a:hover{
    font-weight: bold;
    text-decoration: none;
}

li.breadcrumb-item.active{
    color: #ffffff!important;
}

li.breadcrumb-item.active > a{
    color: #ffffff!important;
}

.login-button{
    width: 100%; 
    background-color: #1d1e1f;
    color: #ffffff;
    font-size: 20px;
    font-family: "Helvetica Neue Light";
    border: none;
}
.login-button:hover{
    background-color: #424649;
}

.login-form-input{
    font-family: "Helvetica Neue Light";
    font-size: 20px;
    text-align: center;
}
.login-form-input::placeholder{
    color: #ddd;
}

.card{
    margin-bottom: 35px!important;
}