{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
        {% block jumbotron_sm %}<h1>{{ title }}</h1>{% endblock %}
{% block content_sm_center %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form method="post" class="login-form">
                {# todo - replace with symfony form#}
                <div class="form-group">
                    <input type="email" class="login-form-input form-control" id="email" name="email" placeholder="mail" required autofocus/>
                </div>
                <div class="form-group">
                    <input type="password" class="login-form-input form-control" id="password" name="password" placeholder="secret" />
                </div>
                <div class="form-group">
                    <small>
                        <label for="rememberme">
                            <input type="checkbox" id="rememberme" name="_terms">
                            <span class="login-form-checkbox-label">Agree the terms I for sure read</span>
                        </label>
                    </small>
                </div>
                <div class="form-group-centered">
                    <button type="submit" id="sendlogin" class="login-button btn">register</button>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}