{% extends 'base_backend.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron%}<h1>{{ title }}</h1>{% endblock %}
{% block backend_nav %}
    <a href="{{ path('be_activity_new') }}" class="btn btn-sm btn-primary">
        Add Record <span class="fa fa-plus-circle"></span>
    </a>
{% endblock %}
{% block content %}
<div class="container">
    {% for activity in activities %}
        <div class="row activity-element">
            {% set foo = activity.training + activity.noCarbs + activity.noCandy + activity.noAlcohol %}
            <div class="col-md-3 activity-element-data">
                {{ activity.date.format('d.m.Y') }}
            </div>
            <div class="col-md-2 activity-element-data">
                {% if activity.training == 0 %}
                    <i class="fas fa-running text-secondary"></i>
                    <i class="fas fa-running text-secondary"></i>
                    <i class="fas fa-running text-secondary"></i>
                {% elseif activity.training == 1 %}
                    <i class="fas fa-running text-success"></i>
                    <i class="fas fa-running text-secondary"></i>
                    <i class="fas fa-running text-secondary"></i>
                {% elseif activity.training == 2 %}
                    <i class="fas fa-running text-success"></i>
                    <i class="fas fa-running text-success"></i>
                    <i class="fas fa-running text-secondary"></i>
                {% elseif activity.training == 3 %}
                    <i class="fas fa-running text-success"></i>
                    <i class="fas fa-running text-success"></i>
                    <i class="fas fa-running text-success"></i>
                {% endif %}
            </div>
            <div class="col-md-1 activity-element-data">
                {% if activity.noAlcohol %}
                    <i class="fas fa-tint text-primary"></i>
                {% else %}
                    <i class="fas fa-beer text-secondary"></i>
                {% endif %}
            </div>
            <div class="col-md-1 activity-element-data">
                {% if activity.noCandy %}
                    <i class="fas fa-apple-alt text-success"></i>
                {% else %}
                    <i class="fas fa-cubes text-secondary"></i>

                {% endif %}
            </div>
            <div class="col-md-1 activity-element-data">
                {% if  activity.noCarbs %}
                    <i class="fas fa-leaf text-success"></i>
                {% else %}
                    <i class="fas fa-hamburger text-secondary"></i>
                {% endif %}
            </div>
            <div class="col-md-4 activity-element-data">
                {% if foo == 0 %}
                    <i class="far fa-star text-secondary"></i>
                    <i class="far fa-star text-secondary"></i>
                    <i class="far fa-star text-secondary"></i>
                {% elseif foo == 1 %}
                    <i class="fas fa-star-half-alt text-warning" style="width: 18px"></i>
                    <i class="far fa-star text-secondary"></i>
                    <i class="far fa-star text-secondary"></i>
                {% elseif foo == 2 %}
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-secondary"></i>
                    <i class="far fa-star text-secondary"></i>
                {% elseif foo == 3 %}
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning" style="width: 18px"></i>
                    <i class="far fa-star text-secondary"></i>
                {% elseif foo == 4 %}
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-secondary"></i>
                {% elseif foo == 5 %}
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star-half-alt text-warning" style="width: 18px"></i>
                {% else %}
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
