{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron_sm %}<h1>{{ title }}</h1>{% endblock %}

{% block content_sm_center %}

        more stuff to come...!

{% endblock %}
