{% extends 'base_backend.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block jumbotron %}<h1>{{ title }}</h1>{% endblock %}

{% block backend_nav_news_sub %}
        <a href="{{ path('be_comment') }}" class="btn btn-sm sub" style="margin-top: -9px"><i class="far fa-comments"></i> Comments</a>
{% endblock %}

{% block content %}
        <div class="container">
                <div class="row log-element">
                        {{ include('news_admin/_form.html.twig', {
                                button_text: 'create'
                        }) }}
                </div>
        </div>
{% endblock %}
