{% extends 'backend/bare.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block content_bare%}
    <a href="" class="btn btn-sm btn-outline-success float-right"><i class="fa fa-plus-circle"></i> Create</a>
    <h1>Logbook</h1>
    <div class="row backend-list-element">
        <div class="col-md-10 backend-list-element-header">Tag</div>
        <div class="col-md-1 backend-list-element-header-center"></div>
        <div class="col-md-1 backend-list-element-header-center"></div>
    </div>
    {% for tag in tags %}
        <div class="row backend-list-element">
            <div class="col-md-10 backend-list-element-data">{{ tag.name }}</div>
            <div class="col-md-1 backend-list-element-control"><a class="btn btn-sm sub-tool-inline" href="{{ path('backend_log_update', { id: tag.id}) }}"><i class="fas fa-pencil-alt"></i></a></div>
            <div class="col-md-1 backend-list-element-control"><a class="btn btn-sm sub-tool-inline del" href="#"><i class="fas fa-trash-alt"></i></a></div>
        </div>
    {% endfor %}
{% endblock %}